.main-navbar{
    background-color: aqua !important;
    height: 60px;
    margin-bottom: 0px !important;
  }

.customer-details{
    text-align: left;
}

.fa-bars{
  font-size: 300% !important;
  margin-bottom: 50%;
}

.cantact-list{
  font-size: 25px;
}

.card{
  width: 25%;
  float: left;
  height: 82px;
}

.icons{
  font-size: 20px;
}

.pho-num{
  font-size: 20px;
  margin-bottom: 0; 
}

.mob{
  float: left;
  margin-top: 0;
}

.details{
  float: left;
}

.incom-call{
  color: green;
}

.recent-details{
    padding-left: 0;
    float: left;
}